<h1><%= @user.name.humanize %></h1>
<dl class="well">
  <dt>Name</dt>
  <dd><%= @user.name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Access Level</dt>
  <dd><%= @user.display_access_level %></dd>
</dl>
